/* Fondo general */
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #e0c3fc, #f9c5d1, #c3e0fc);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
}

/* Contenedor principal */
.container {
    background: white;
    margin-top: 50px;
    padding: 30px;
    border-radius: 20px;
    width: 400px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

/* Título */
h1 {
    text-align: center;
    color: #a084ca;
}

/* Formulario */
form {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

/* Input */
input {
    flex: 1;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ddd;
    outline: none;
}

/* Botón agregar */
button {
    background: #f9c5d1;
    border: none;
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #a0c4ff;
}

/* Lista */
ul {
    list-style: none;
    padding: 0;
}

/* Cada tarea */
li {
    background: #f8f9ff;
    margin-bottom: 10px;
    padding: 12px;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Botones dentro de tareas */
li button {
    margin-left: 5px;
    background: #cdb4db;
    color: white;
}

li button:hover {
    background: #a0c4ff;
}

/* Estado */
.complete {
    text-decoration: line-through;
    opacity: 0.6;
}